ITIGRIS_COMPANY=company
ITIGRIS_LOGIN=login
ITIGRIS_PASSWORD=password
ITIGRIS_DEPARTAMENT_ID=123
ITIGRIS_KEY=key
ITIGRIS_USER_ID=user
ITIGRIS_SERVICE_TYPE_ID=service_type_id

BITRIX_WEBHOOK_URL=url

MEDODS_IDENTITY_KEY=identity_key
MEDODS_SECRET_KEY=secret_key
MEDODS_LOGIN=login
MEDODS_PASSWORD=password

IS_LINUX_SERVER=1
